{% extends 'base.html' %}

{% block content %}




{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
	</div>
{% endfor %}

{% if current_user.is_authenticated %}

<h1>Adicionar evento</h1>
	<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}

		{{ form.title(class="form-control") }}
		<br/>
		{{ form.endereco.label(class="form-label") }}

		{{ form.endereco(class="form-control") }}
		<br/>
		{{ form.bairro.label(class="form-label") }}

		{{ form.bairro(class="form-control") }}
		<br/>
		{{ form.data_evento.label(class="form-label") }}

		{{ form.data_evento(format='%d/%m/%Y') }}
		<br/>

		{{ form.hora_evento.label(class="form-label") }}

		{{ form.hora_evento(format='%H:%M') }}
		<br/>
		{{ form.content.label(class="form-label") }}

		{{ form.content(class="form-control", rows="10") }}
		<br/>

		
		{{ form.submit(class="btn btn-secondary") }}


	</form>
	{{ ckeditor.load() }}
 	{{ ckeditor.config(name='content') }}

</div>
{% else %}
<h2>Você precisa estar logado</h2>
<p>Desculpe, Você precisa estar logado para poder anunciar um evento</p>

<a href="{{ url_for('login') }}">Entre aqui</a>

{% endif %}


{% endblock %}