{% extends 'base.html' %}

{% block content %}
<body>

<p>
	A Secretaria de Coordenação das Subprefeituras, através das 31 Subprefeituras, colocou à disposição da população mais 157 conjuntos de equipamentos de ginástica ao ar livre, sendo 43 deles em fase de implantação e que estarão concluídos até o final deste ano. Em maio deste ano, havia 155 praças com esses tipos de aparelhos na cidade; agora, esse número chegará a 312 (mais de 100% de aumento).</p>

<p>
	Aproximadamente 60% das praças beneficiadas nos últimos meses estão localizadas nas regiões periféricas da cidade. A Subprefeitura com maior crescimento foi São Miguel Paulista: em maio deste ano, havia apenas 8 áreas verdes com aparelhos; agora são 35. Em segundo lugar, Capela do Socorro, com instalação de equipamentos em 21 praças; em seguida vem Guaianases, que, até maio, não tinha nenhum local dotado com esses equipamentos e hoje a população pode encontrá-los em 14 áreas.</p>
    Nas áreas contempladas, os paulistanos poderão usufruir de aparelhos como: alongador com 3 alturas, simuladores de caminhada e de cavalgada, remada sentada, multiexercitador, barras paralelas, senta e levanta, rotações vertical e diagonal, pressão de pernas, esqui, surf, entre outros.
<p>
	Esses equipamentos podem ser utilizados pelos munícipes, beneficiando especialmente pessoas da terceira idade. Eles foram projetados para a prática de exercícios leves, que ajudam no fortalecimento e na flexibilidade dos músculos, além do aumento do equilíbrio e da coordenação motora. Além dos aparelhos, a população também pode utilizar o espaço onde estão implantados para realizar caminhadas.</p>

<p>
	As praças e áreas verdes da cidade recebem cuidados constantes por parte da administração municipal, tanto em relação aos equipamentos nelas instalados quanto aos serviços de zeladoria, a fim de assegurar a conservação do espaço público e estimular práticas mais saudáveis pela população.</p>
<p>
	<strong>Confira os benefícios proporcionados por cada equipamento:</strong></p>
<p>
	<strong>Alongador:</strong> Estimula o sistema nervoso central através do alongamento.</p>

<p>
	<strong>Simulador de caminhada:</strong> Aumenta a mobilidade dos membros inferiores e desenvolve a coordenação motora.</p>

<p>
	<strong>Simulador de cavalgada:</strong> Fortalece a musculatura dos membros inferiores, superiores e aumenta a capacidade respiratória.</p>

<p>
	<strong>Remada sentada:</strong> Fortalece a musculatura das costas e ombros.</p>

<p>
	<strong>Multiexercitador:</strong> Fortalece, alonga e aumenta a flexibilidade dos membros superiores e inferiores.</p>

<p>
	<strong>Barras paralelas:</strong> Melhora o equilíbrio, coordenação motora e força muscular.</p>

<p>
	<strong>Senta e levanta:</strong> Fortalece e dá mais mobilidade aos membros inferiores e glúteos.</p>

<p>
	<strong>Rotações vertical: </strong> Fortalece os membros superiores e melhora a articulação dos ombros.</p>

<p>
	<strong>Rotação diagonal:</strong> Aumenta a mobilidade das articulações dos ombros e cotovelos.</p>

<p>
	<strong>Pressão de pernas: </strong> Fortalece a musculatura das coxas e quadris.</p>

<p>
	<strong>Esqui:</strong> Aumenta a flexibilidade dos membros inferiores, superiores, quadris e capacidade respiratória.</p>

<p>
	<strong>Surf:</strong> Melhora a flexibilidade e agilidade dos membros inferiores, quadris e região lombar.</p>

<h2>Lista dos lugares que possuem equipamentos, separados por zona:</h2>
<h3><span style="color: #000000;">Zona Norte<br />
</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Cidade de Toronto (Avenida Cardeal Motta, s/nº, City América)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Clube Escola Educacional Thomaz Mazzoni (Praça Presidente Jânio da Silva Quadros, 150, Jardim Japão)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mini Balneário Comandante Garcia D’Ávila (Rua Armando Coelho e Silva, 775, Parque Peruche)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Oswaldo Brandão (Rua Michihisa Murata, 120, Brasilândia)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Aurélio Campos (Rua Jacutiba, 167, Freguesia do Ó)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Alfredo Inácio Trindade (Rua Viri, 425, Jardim São Paulo)</span></li>
</ul>
<h3><span style="color: #000000;">Zona Sul</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Ibirapuera (Avenida Pedro Álvares Cabral, s/nº, Parque Ibirapuera)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque da Independência (Avenida Nazaré, s/nº, Ipiranga)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque do Povo (Avenida Henrique Chamma, 420, Chácara Itaim)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Joerg Bruder (Avenida Padre José Maria, 555, Santo Amaro)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Flávio Calabresi Conte (Rua das Municipalidades, 10, Ipiranga)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Balneário Carlos Joel Nelli (Praça Nami Jafet, 45, Ipiranga)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Balneário Jalisco (Rua Rodes, 112, Vila Santa Catarina)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Ryuso Ogawa (Rua Lussanvira, 178, Vila Guarani)</span></li>
</ul>
<h3><span style="color: #000000;">Zona Leste</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque do Carmo (Avenida Afonso de Sampaio e Sousa, 951, Itaquera)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">CEL Teotônio Vilela (Rua Carlo Clausetti, 19, Sapopemba)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. José Ermírio de Moraes (Rua Grapirá, 537, Itaim Paulista)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Luiz Martinez (Avenida Governador Carvalho Pinto, 02, Tiquatira)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">CEL Juscelino Kubitschek (Rua Inácio Monteiro, 55, Cidade Tiradentes)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Ermelino Matarazzo (Rua João Euclides Pereira, 308, Jardim Matarazzo)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Brigadeiro Eduardo Gomes (Rua Apucarana, 233, Tatuapé)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo, Recreativo e Educativo do Trabalhador (CERET) (Rua Canuto de Abreu, s/n°, Tatuapé)</span></li>
</ul>
<h3><span style="color: #000000;">Zona Oeste</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Alfredo Volpi (Rua Engenheiro Oscar Americano, 480, Morumbi)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Villa Lobos (Avenida Professor Fonseca Rodrigues 2001, Alto de Pinheiros)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Esporte para todos (Rua do Matão, 1577, Butantã, próximo à Praça da Prefeitura)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Elis Regina (Rua Pereira do Lago, 100, Butantã)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça João Afonso de Souza Castellano (Instituto da Previdência, Butantã)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Renato Checchia (Jardim Guedala, Morumbi)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Vinícius de Moraes (Avenida Giovanni Gronchi x Rua Barão de Pirapama, Morumbi)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Carlos Alberto Figueira Leitão (Rua Ramon Bonell, Parque Ipê, Butantã)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Major Walter Carlson (Jardim São Paulo, Raposo Tavares)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Desembargador Paulo Barbosa de Campos Filho (Cidade São Francisco, Rio Pequeno)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Zaphira Vieira Leite (Rua Henrique Chaves, 106, Jardim Ester)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça José Ória (Praça José Oriá, Vila Sônia)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Miguel Torga (Praça Miguel Torga, Jardim Londrina)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Praça Victor Civita (Rua Sumidouro, 580, Pinheiros)</span></li>
</ul>
<h3><span style="color: #000000;">Centro</span></h3>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Tietê (Avenida Santos Dumont, 843, Luz). Academia adaptada para portadores de necessidades especiais.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque da Aclimação (Rua Muniz de Souza, 1119, Aclimação)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Buenos Aires (Avenida Angélica, s/nº, Higienópolis)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Parque Prefeito Mario Covas (Avenida Paulista, 1853, Bela Vista)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">C. E. Rubens Pecce Lordello (Avenida Lins de Vasconcelos, 804, Cambuci)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro Esportivo Raul Tabajara (Rua Anhanguera, 484, Barra Funda)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Centro de Esportes Radicais (Avenida Castelo Branco, 5700, Bom Retiro)</span></li>
</ul>




</body>
{% endblock %}