{% extends 'base.html' %}

{% block content %}

	<h1>Levando Saúde!</h1>

	<p>Esse site é um projeto dos alunos do Eixo Computação, da UNIVESP.</p>

	<p>O principal propósito desse projeto é mostrar a agenda de eventos voltados para a prática de atividades físicas, na cidade de São Paulo.</p>

	<p>Além de mostrar os próximos eventos oficiais, temos um espaço para que você, educador físico, possa anunciar um evento!</p>
	<p>Pode ser aquela aula de Zumba, corrida coletiva, qualquer evento de atividade física que você esteja organizando. Para isso, basta se registrar no site e anunciar!</p>


	<br/><br/>



{% endblock %}